:root {
    --renk1:#087E8B;
    --renk2:#FF5A5F;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, var(--renk1), var(--renk2) );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    padding: 0px;
    margin: auto 0;
}

* {
    box-sizing: border-box;
}


div#container {
    height:300px;
    width:600px;
    margin: auto;
    border:5px solid black;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0 0 20px black;

}

img#img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 500ms ease;
}

.zoom {
    transform: scale(1.3);
    transition: 500ms ease;
}

h1#text {
    color: white;
    width: 100%;
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%,-50%);
    font-size:30px; 
    letter-spacing: 5px;
    transition: 500ms ease;
}

h1#text2 {
    color: white;
    width: 100%;
    position: absolute;
    top:60%;
    left:60%;
    transform: translate(-50%,-50%);
    font-size:30px; 
    letter-spacing: 5px;
    transition: 500ms ease;
}

#text.slidetocenter {
    left: 50%;
    transition:500ms ease;
}

#text2.slidetocenter {
    left: 50%;
    transition:500ms ease;
}

@media only screen and (max-width:600px) {

#container {
    width: 90% !important;
}

h1#text {
    color: white;
    width: 100%;
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%,-50%);
    font-size:1rem; 
    letter-spacing: 5px;
    transition: 500ms ease;
}

h1#text2 {
    color: white;
    width: 100%;
    position: absolute;
    top:60%;
    left:60%;
    transform: translate(-50%,-50%);
    font-size:1rem; 
    letter-spacing: 5px;
    transition: 500ms ease;
}

}